body{
    background-image: url("gradient_bg.png");
  background-repeat: repeat-x;
}

#container{
    width:1700px;
    margin:0 auto;
}

#chatWindow{
    height:300px;
}

#mainWrapper{
    display:none;
}

#chatWrapper{
    float:left;
    margin:20px;
    width: 750px;
    height: 500px;
}

#roomWrapper{
    float:left;
    margin: 20px;
    width: 240px;
    height: 500px;
}

#userWrapper{
    float:left;
    margin:20px;
    width: 240px;
    height: 500px;
}

#namesWrapper{
    float:left;
    border:1px #ccc solid;
    border-radius: 10px;
    background:#f4f4f4;
    padding:10px;
    margin-left:20px;
}

/* input{
    height:30px;
    border:solid 1px #ccc;
} */

.messageInput__placeholder{
    color: red;
}

#cardUser {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#usernameError{
    color:red;
    font-size: 0.9rem;
    margin-top: 5px;
    text-align: center;
}

li{
    list-style: none;
}
