* {
    font-family: 'ZCOOL KuaiLe', cursive;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#container {
    width: 1700px;
    margin: 0 auto;
    height: auto;
}

#chatWindow {
    height: 300px;
}

#mainWrapper {
    display: none;
}

#chatWrapper {
    float: left;
    width: 800px;
    height: 550px;
}

#roomWrapper {
    float: left;
    width: 240px;
    height: 550px;
}

#userWrapper {
    float: left;
    width: 240px;
    height: 550px;
}

.messageInput__placeholder {
    color: red;
}

#cardUser {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#usernameError {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
    text-align: center;
}

li {
    list-style: none;
}

/* just make scrollbar invisible */
::-webkit-scrollbar {
    width: 0px;
}

button{
    padding: 1px;
}

 /* #rooms ul.list-group li:first-child{
    pointer-events:none; 
    opacity:0.6;
 } */